body {
  background-color: lawngreen;
  height: 1000vh;
}
.scissor-arm {
  position: absolute;
  top: -2vw;
}
.hidden {
  display: none;
}
.arm {
  position: absolute;
  width: 15vw;
  height: 2vw;
  border-radius: 2vw;
  -webkit-border-radius: 2vw;
}
.left-arm {
  background-color: silver;
}
.right-arm {
  background-color: darkgray;
}
