<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Rob Willison</title>
        <link href='styles/main.css' rel='stylesheet' type='text/css'>

        <script   src="https://code.jquery.com/jquery-3.0.0.min.js"></script>

    </head>
    <body>
    <div class="arm hidden" id="example-arm-segment"></div>

    <div class="scissor-arm" id="scissor-arm" >

    </div>

    <script src="scripts/extraHelpfull.js" ></script>
    <script src="scripts/arm.js" ></script>
    <script src="scripts/arm-animation.js" ></script>
    </body>
</html>
