<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Rob Willison</title>
        <link href='styles/main.css' rel='stylesheet' type='text/css'>

        <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    </head>
    <body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" id="home">Rob Willison</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#" id="about">About</a></li>
                <li><a href="#" id="projects">Projects</a></li>
                <li><a href="#" id="qualifications">Qualifications</a></li>
                <li><a href="#" id="experience">Experience</a></li>
                <li><a href="#" id="contact">Contact Me</a></li>
            </ul>
        </div>
    </nav>



    <div class="arm hidden" id="example-arm-segment"></div>

    <div class="scissor-arm" id="scissor-arm" >

    </div>

    <div class="grabber" id="grabber"></div>

    <div class="page" id="page"></div>

    <script src="scripts/extraHelpfull.js" ></script>
    <script src="scripts/arm.js" ></script>
    <script src="scripts/page.js" ></script>
    <script src="scripts/arm-animation.js" ></script>
    <script src="scripts/events.js" ></script>
    </body>
</html>
